<!DOCTYPE html>
<html lang="<%= Tolk::Locale.primary_locale_name %>">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Translations Dashboard</title>

  <%= javascript_include_tag "tolk/application" %>
  <%= stylesheet_link_tag "tolk/application" %>
  <%= yield :head %>
</head>

<body>
  <div id="container">
    <div id="head">
      <div class="home-buttons">
        <span class="home">
          <%= link_to "Translations Dashboard", root_path %>
        </span>
        <% if @locale.present? %>
          <span class="locale">
            <%= link_to @locale.language_name, locale_path(@locale) %>
          </span>
        <% end %>
      </div>
      <div class="dump-all-button">
        <span class="save">
          <%= link_to "Update translation files", dump_all_locales_path %>
        </span>
      </div>
      <div style="clear:both"></div>
    </div>
    <%= yield %>
  </div>

  <script type="text/javascript">
    $$('td textarea').each(function(element) {
      element.setStyle({height: element.up('td').measure('height')+'px'});
    });
  </script>
</body>
</html>
